* {
  margin: 0px;
  padding: 0px;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Arial;
}

header {
  position: sticky;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 55px;
  height: 80px;
  background-color: black;
  color: white;
}